::-webkit-scrollbar
    overflow hidden

// ::-webkit-scrollbar-thumb
//     border-radius 10px
//     -webkit-box-shadow inset 0 0 5px rgba(228, 57, 60, 0.2)
//     background rgba(20, 20, 50, 0.6)
//     position absolute

// ::-webkit-scrollbar-track
//     -webkit-box-shadow inset 0 0 5px rgba(228, 57, 60, 0.2)
//     border-radius 10px
//     background #EDEDED
//     position absolute
